@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #1c2541;
  --white: #F7F7F2;
  --btn:#ff6b6b;
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: rgba(35, 37, 54, 1);

}
.container{
  width: 100vw;
  padding: 0;
  margin: auto;
}
.landing{
background-image: url("/background.jpg");
background-size: cover;
background-repeat:no-repeat;
background-position: center;
display: flex;
flex-direction: column;

height: 95vh;
width: 100%;
/* margin-left:auto ; */
padding-left:50px ;
align-items: flex-start;
gap: 20px;
color: var(--white);

}
.landing > h1{
font-size: 70px;
font-weight: 900;
}
.landing>p{
  text-align: left;
  font-size:20;
  width: 670px;

}
.landing>button{
  display: flex;
  gap: 5px;
  background-color: var(--btn);
  border-radius: 10px;
  padding: 5px;
  color: var(--white);
  font-weight: 500;
  font-size: larger;
  font-stretch: expanded;
}
.landing >button>img{
  width: 25px;
  height: 25px;
}
